.enabledGroupHeader
{
	background-color: #33FF33 !important;
}

.enabledGroup
{
	background-color: #AAFFAA !important;
}

.errorText
{
	color:red;
}

HR
{
        height: 1px;
        color: #BBBBBB;
        background-color: #BBBBBB;
}



a {
    color: #0088CC;
    text-decoration: none;
}


UL.dropdown-panel li a
{
    font-size: 14pt;
}

UL.dropdown-panel li
{
    padding-bottom:10px;
}



#allnibbles
{
        //visibility: hidden;
        display:none;
}

.newschedule
{
	background-color: #EEEEEE;
	padding-left: 30px;
	padding-bottom: 15px;
	width: 95%;
}

.scheduleGroupIcon
{
	border: 1px solid #000000;
	margin-right: 15px;
	position: relative;
	left:3px;
	text-align: center;
	width: 20px;
	float:left;
}

.scheduleGroupHeader
{
	width:95%;
	background-color: #BBBBBB;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.scheduleGroup
{
	background-color: #CCCCCC;
	padding-left: 30px;
	padding-bottom: 15px;
	width: 95%;
}
.scheduleTable
{
	border-right: 2px solid #AAAAAA;
	padding-right:3px;

}


.statusText
{
        background-color:#DDDDDD;
        height:50px;
        border-top:2px solid #444444;
        margin-top: 10px;
}

#instructions
{
	padding-bottom:20px;
}

.input150
{
        width: 150px;
        font-family: courier;
}

.input300
{
        width: 300px;
        font-family: courier;
}

BODY
{
	font-family: Verdana;
	font-size: 10pt;
	background-color: #DDDDDD;
	margin-left:0px;
	margin-top: 0px;
}

#wizard
{
	height:100%;
}

#header
{
	background-color: #222222;
	height: 70px;
	color: #FFFFFF;
	font-size: 24pt;
	padding-left: 10px;
	border-bottom: 5px solid #000000;
	width: 100%;
	padding-top:10px;
}

#body
{
	background-color: #DDDDDD;
	margin-left:20px;
	margin-top:20px;
	overflow:auto; 
	position:fixed; 
	top:80px; 
	bottom:80px; 
	left:0; 
	right:0;
}

#buttons
{
	border-top: 5px solid #000000;
	background-color: #222222;
	height:70px;
	display: block;
	position: absolute;
	bottom: 0px;
	width:100%;
	text-align: right;
}



#buttons INPUT
{
	position: relative;
	top: +10px;
	left: -20px;
	height: 30px;
	width: 200px;
	margin-right: 5px;
}

.headerrow
{
	font-weight: bold;
	margin-top: 10px;
}

.headerrowtext
{
	padding-top: 10px;
}

.descinput
{
	width:200px;
}

#pairImage
{
	display: block;
	position: absolute;
	text-align: right;
	top: 10px;
	right: 20px;
	display: block;
	
}

.menubuttons
{
	text-align: center;
	width:100%;
	margin-left:0px;
}

.optionbutton
{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	height:50px;
	text-align: center;
	display: block;
	margin-top: 10px;
}

@media screen and (max-width:400px) {
    @-ms-viewport{
        width:500px;
    }
}

#smallHeader {
    display: block;
    font-size: 10pt;
    margin-left: 40px;
}


#consoleIframe {
    width: 95%;
    height: 180px;
    background-color:#333333;
    color:#ffffff;
    padding-left:10px;
    border: 2px solid #000000;   
}


.PanelHeader {
    background-color: #777777;
    color: #ffffff;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 97%;
}


.Panel {
    background-color: #cccccc;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 97%;
}